.outfit {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}

#main-left-div {
	float: left;
	width: 400px;
	height: 500px;
}

#main-right-div {
	margin-left: 400px;
	width: 400px;
	height: 500px;
}

#top-image {
	width: 215px;
	margin: 0 auto;
}

#top-stroke {
	stroke: 25px;
}

#bottom-image {
	width: 250px;
	margin: 0 auto;
}

#shoe-image-left {
	width: 175px;
	margin: 0 auto;
}

#shoe-image-right {
	width: 175px;
	margin: 0 auto;
	transform: scaleX(-1);
}

.result {
	margin-bottom: 10px;
}

.main-color {
	font-weight: bold;
}